src/main/jaxb/DirectoryEntryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://doals.hbc.org/DirectoryEntryService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:dto="http://doals.hbc.org/ws.xsd"
                  name="BookService"
                  targetNamespace="http://doals.hbc.org/DirectoryEntryService">


    <!--
        The `types` element defines the data types (XML elements)
        that are used by the web service.
     -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://doals.hbc.org/ws.xsd">
            <xsd:include schemaLocation="ws.xsd"/>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="GetUserRootRequest">
        <wsdl:part element="dto:GetUserRootRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetUserRootResponse">
        <wsdl:part element="dto:GetUserRootRp" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetDirectoryEntryDetailsRequest">
        <wsdl:part name="parameters" element="dto:GetDirectoryEntryDetailsRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDirectoryEntryDetailsResponse">
        <wsdl:part name="parameters" element="dto:GetDirectoryEntryDetailsRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteDirectoryEntryRequest">
        <wsdl:part name="parameters" element="dto:DeleteDirectoryEntryRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteDirectoryEntryResponse">
        <wsdl:part name="parameters" element="dto:DeleteDirectoryEntryRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UndeleteDirectoryEntryRequest">
        <wsdl:part name="parameters" element="dto:UndeleteDirectoryEntryRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UndeleteDirectoryEntryResponse">
        <wsdl:part name="parameters" element="dto:UndeleteDirectoryEntryRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateDirectoryEntryRequest">
        <wsdl:part name="parameters" element="dto:CreateDirectoryEntryRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateDirectoryEntryResponse">
        <wsdl:part name="parameters" element="dto:CreateDirectoryEntryRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ListDirectoryEntriesRequest">
        <wsdl:part name="parameters" element="dto:ListDirectoryEntriesRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ListDirectoryEntriesResponse">
        <wsdl:part name="parameters" element="dto:ListDirectoryEntriesRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SearchDirectoryEntriesRequest">
        <wsdl:part name="parameters" element="dto:SearchDirectoryEntriesRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SearchDirectoryEntriesResponse">
        <wsdl:part name="parameters" element="dto:SearchDirectoryEntriesRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RenameDirectoryEntryRequest">
        <wsdl:part name="parameters" element="dto:RenameDirectoryEntryRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RenameDirectoryEntryResponse">
        <wsdl:part name="parameters" element="dto:RenameDirectoryEntryRp"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MoveDirectoryEntryRequest">
        <wsdl:part name="parameters" element="dto:MoveDirectoryEntryRq"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MoveDirectoryEntryResponse">
        <wsdl:part name="parameters" element="dto:MoveDirectoryEntryRp"></wsdl:part>
    </wsdl:message>

    <!--
        A WSDL `portType` is used to combine multiple `message`s
        (e.g. input, output) into a single operation.

        Here we define three synchronous (input/output) operations
        and the `message`s that must be used for each.
     -->
    <wsdl:portType name="DirectoryEntryServicePort">
        <wsdl:operation name="GetUserRoot">
            <wsdl:input message="tns:GetUserRootRequest"/>
            <wsdl:output message="tns:GetUserRootResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetDirectoryEntryDetails">
            <wsdl:input message="tns:GetDirectoryEntryDetailsRequest"></wsdl:input>
            <wsdl:output message="tns:GetDirectoryEntryDetailsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteDirectoryEntry">
            <wsdl:input message="tns:DeleteDirectoryEntryRequest"></wsdl:input>
            <wsdl:output message="tns:DeleteDirectoryEntryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UndeleteDirectoryEntry">
            <wsdl:input message="tns:UndeleteDirectoryEntryRequest"></wsdl:input>
            <wsdl:output message="tns:UndeleteDirectoryEntryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateDirectoryEntry">
            <wsdl:input message="tns:CreateDirectoryEntryRequest"></wsdl:input>
            <wsdl:output message="tns:CreateDirectoryEntryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ListDirectoryEntries">
            <wsdl:input message="tns:ListDirectoryEntriesRequest"></wsdl:input>
            <wsdl:output message="tns:ListDirectoryEntriesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SearchDirectoryEntries">
            <wsdl:input message="tns:SearchDirectoryEntriesRequest"></wsdl:input>
            <wsdl:output message="tns:SearchDirectoryEntriesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RenameDirectoryEntry">
            <wsdl:input message="tns:RenameDirectoryEntryRequest"></wsdl:input>
            <wsdl:output message="tns:RenameDirectoryEntryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MoveDirectoryEntry">
            <wsdl:input message="tns:MoveDirectoryEntryRequest"></wsdl:input>
            <wsdl:output message="tns:MoveDirectoryEntryResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <!--
        The `binding` element defines exactly how each
        `operation` will take place over the network.
        In this case, we are using SOAP.
     -->
    <wsdl:binding name="DirectoryEntryServiceSOAP" type="tns:DirectoryEntryServicePort">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetUserRoot">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/GetUserRoot"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDirectoryEntryDetails">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/GetDirectoryEntryDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteDirectoryEntry">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/DeleteDirectoryEntry"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UndeleteDirectoryEntry">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/UndeleteDirectoryEntry"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateDirectoryEntry">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/CreateDirectoryEntry"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ListDirectoryEntries">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/ListDirectoryEntries"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SearchDirectoryEntries">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/SearchDirectoryEntries"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RenameDirectoryEntry">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/RenameDirectoryEntry"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MoveDirectoryEntry">
            <soap:operation
                    soapAction="http://doals.hbc.org/DirectoryEntryService/MoveDirectoryEntry"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--
        The `service` element finally says where the service
        can be accessed from - in other words, its endpoint.
     -->
    <wsdl:service name="DirectoryEntryService">
        <wsdl:port binding="tns:DirectoryEntryServiceSOAP" name="DirectoryEntryServiceSOAP">
            <soap:address location="PLACEHOLDER"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>