src/main/jaxb/DirectoryEntryService.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://doals.hbc.org/DirectoryEntryService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:des="http://doals.hbc.org/ws.xsd"
                  targetNamespace="http://doals.hbc.org/DirectoryEntryService">
    <wsdl:types>
        <s:import namespace="http://doals.hbc.org/ws.xsd" schemaLocation="ws.xsd"/>
    </wsdl:types>
    <wsdl:message name="GetWeatherSoapIn">
        <wsdl:part name="parameters" element="tns:GetWeather" />
    </wsdl:message>
    <wsdl:message name="GetWeatherSoapOut">
        <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountrySoapIn">
        <wsdl:part name="parameters" element="tns:GetCitiesByCountry" />
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountrySoapOut">
        <wsdl:part name="parameters" element="tns:GetCitiesByCountryResponse" />
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpGetIn">
        <wsdl:part name="CityName" type="s:string" />
        <wsdl:part name="CountryName" type="s:string" />
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpGetOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpGetIn">
        <wsdl:part name="CountryName" type="s:string" />
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpGetOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpPostIn">
        <wsdl:part name="CityName" type="s:string" />
        <wsdl:part name="CountryName" type="s:string" />
    </wsdl:message>
    <wsdl:message name="GetWeatherHttpPostOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpPostIn">
        <wsdl:part name="CountryName" type="s:string" />
    </wsdl:message>
    <wsdl:message name="GetCitiesByCountryHttpPostOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:portType name="GlobalWeatherSoap">
        <wsdl:operation name="GetWeather">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get weather report for all major cities around the world.
            </wsdl:documentation>
            <wsdl:input message="tns:GetWeatherSoapIn" />
            <wsdl:output message="tns:GetWeatherSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major
                cities by country name(full / part).</wsdl:documentation>
            <wsdl:input message="tns:GetCitiesByCountrySoapIn" />
            <wsdl:output message="tns:GetCitiesByCountrySoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GlobalWeatherHttpGet">
        <wsdl:operation name="GetWeather">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get weather report for all major cities around the world.
            </wsdl:documentation>
            <wsdl:input message="tns:GetWeatherHttpGetIn" />
            <wsdl:output message="tns:GetWeatherHttpGetOut" />
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major
                cities by country name(full / part).</wsdl:documentation>
            <wsdl:input message="tns:GetCitiesByCountryHttpGetIn" />
            <wsdl:output message="tns:GetCitiesByCountryHttpGetOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GlobalWeatherHttpPost">
        <wsdl:operation name="GetWeather">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get weather report for all major cities around the world.
            </wsdl:documentation>
            <wsdl:input message="tns:GetWeatherHttpPostIn" />
            <wsdl:output message="tns:GetWeatherHttpPostOut" />
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major
                cities by country name(full / part).</wsdl:documentation>
            <wsdl:input message="tns:GetCitiesByCountryHttpPostIn" />
            <wsdl:output message="tns:GetCitiesByCountryHttpPostOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GlobalWeatherSoap" type="tns:GlobalWeatherSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetWeather">
            <soap:operation soapAction="http://doals.hbc.org/DirectoryEntryService/GetWeather"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <soap:operation soapAction="http://doals.hbc.org/DirectoryEntryService/GetCitiesByCountry"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GlobalWeatherSoap12" type="tns:GlobalWeatherSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetWeather">
            <soap12:operation soapAction="http://doals.hbc.org/DirectoryEntryService/GetWeather"
                              style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <soap12:operation soapAction="http://doals.hbc.org/DirectoryEntryService/GetCitiesByCountry"
                              style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GlobalWeatherHttpGet" type="tns:GlobalWeatherHttpGet">
        <http:binding verb="GET" />
        <wsdl:operation name="GetWeather">
            <http:operation location="/GetWeather" />
            <wsdl:input>
                <http:urlEncoded />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <http:operation location="/GetCitiesByCountry" />
            <wsdl:input>
                <http:urlEncoded />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GlobalWeatherHttpPost" type="tns:GlobalWeatherHttpPost">
        <http:binding verb="POST" />
        <wsdl:operation name="GetWeather">
            <http:operation location="/GetWeather" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCitiesByCountry">
            <http:operation location="/GetCitiesByCountry" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GlobalWeather">
        <wsdl:port name="GlobalWeatherSoap" binding="tns:GlobalWeatherSoap">
            <soap:address location="http://www.webservicex.com/globalweather.asmx" />
        </wsdl:port>
        <wsdl:port name="GlobalWeatherSoap12" binding="tns:GlobalWeatherSoap12">
            <soap12:address location="http://www.webservicex.com/globalweather.asmx" />
        </wsdl:port>
        <wsdl:port name="GlobalWeatherHttpGet" binding="tns:GlobalWeatherHttpGet">
            <http:address location="http://www.webservicex.com/globalweather.asmx" />
        </wsdl:port>
        <wsdl:port name="GlobalWeatherHttpPost" binding="tns:GlobalWeatherHttpPost">
            <http:address location="http://www.webservicex.com/globalweather.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>